%df-aic {
  display: flex;
  align-items: center;
}

%df-aic-jcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%df-aic-fww-jcsb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

%df-aifs-jcc-fdc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
