<header>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Instaviagem</span>
  </mat-toolbar>

  <div class="search-div">
    <mat-form-field class="search-form-field">
      <mat-label>Pesquisar</mat-label>
      <input #searchInput matInput placeholder="pesquisar" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="filters-div">
    <mat-form-field>
      <mat-label>Ordenar por</mat-label>
      <mat-select (selectionChange)="orderByChange($event.value)">
        <mat-option
          *ngFor="let order of orderBy"
          [value]="order.value">
          {{order.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</header>


<aside class="places-aside">
  <places-list [places]="filteredPlaces"></places-list>
</aside>
